misc/dashboard/nodered/flows.json
[{"id":"1f75da86aca88164","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"98ca3468ef8055fd","type":"ui_text_input","z":"1f75da86aca88164","name":"","label":"","tooltip":"","group":"5a2c927c.ba1edc","order":3,"width":"2","height":"1","passthru":false,"mode":"number","delay":"0","topic":"payload","sendOnBlur":true,"topicType":"msg","x":590,"y":180,"wires":[["41839c7ae08bfc64","08b54d2905d62051"]]},{"id":"0372e647854ccf68","type":"mqtt in","z":"1f75da86aca88164","name":"","topic":"turbidostat/status","qos":"0","datatype":"auto","broker":"3c51ebe391d2af88","nl":false,"rap":true,"rh":0,"x":120,"y":200,"wires":[["d6fbd9044bde8b19"]]},{"id":"972bbf9220ea02b4","type":"mqtt out","z":"1f75da86aca88164","name":"","topic":"turbidostat/command","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3c51ebe391d2af88","x":1040,"y":380,"wires":[]},{"id":"b3582d9faf9b712a","type":"debug","z":"1f75da86aca88164","name":"Setpoint command","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":240,"wires":[]},{"id":"08b54d2905d62051","type":"ui_slider","z":"1f75da86aca88164","name":"","label":"","tooltip":"","group":"5a2c927c.ba1edc","order":2,"width":"4","height":"1","passthru":false,"outs":"end","topic":"payload","topicType":"msg","min":0,"max":"1023","step":1,"className":"","x":570,"y":240,"wires":[["98ca3468ef8055fd","41839c7ae08bfc64"]]},{"id":"41839c7ae08bfc64","type":"function","z":"1f75da86aca88164","name":"","func":"if(msg.payload > 1023)\n    msg.payload = 1023;\nif(msg.payload < 0)\n    msg.payload = 0;\n\nmsg.payload = \"SP:\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":240,"wires":[["972bbf9220ea02b4","b3582d9faf9b712a"]]},{"id":"602d8c42227a6d52","type":"ui_button","z":"1f75da86aca88164","name":"","group":"5a2c927c.ba1edc","order":1,"width":0,"height":0,"passthru":false,"label":"{{msg.payload.type}}   {{msg.payload.data[0]}}","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"\"\"","payloadType":"str","topic":"payload","topicType":"msg","x":570,"y":300,"wires":[["41839c7ae08bfc64"]]},{"id":"d6fbd9044bde8b19","type":"function","z":"1f75da86aca88164","name":"format","func":"message = JSON.parse(msg.payload)\n\nmsg.payload = {\n    raw:message,\n    type:message[0],\n    data:message.slice(1)\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":200,"wires":[["d0d495390ea183f9"]]},{"id":"d0d495390ea183f9","type":"switch","z":"1f75da86aca88164","name":"Message type","property":"payload.type","propertyType":"msg","rules":[{"t":"cont","v":"Setpoint","vt":"str"},{"t":"cont","v":"Invalid Command","vt":"str"},{"t":"cont","v":"Tubidostat loop","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":260,"y":320,"wires":[["602d8c42227a6d52"],["2414a8b91738b097"],["f271946685309901"]]},{"id":"7f8d72e7f6813e48","type":"ui_toast","z":"1f75da86aca88164","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"alert","x":730,"y":340,"wires":[]},{"id":"2414a8b91738b097","type":"template","z":"1f75da86aca88164","name":"raw","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.raw}}","output":"str","x":570,"y":340,"wires":[["7f8d72e7f6813e48"]]},{"id":"a5b9f71162a2dde9","type":"ui_switch","z":"1f75da86aca88164","name":"","label":"","tooltip":"{{payload.raw}}","group":"75ef11fc525da978","order":2,"width":"3","height":"2","passthru":false,"decouple":"false","topic":"payload","topicType":"msg","style":"","onvalue":"\"LOOP:ON\"","onvalueType":"json","onicon":"","oncolor":"","offvalue":"\"LOOP:OFF\"","offvalueType":"json","officon":"","offcolor":"","animate":false,"className":"","x":570,"y":440,"wires":[["972bbf9220ea02b4"]]},{"id":"72dc3737b6fe4be4","type":"ui_button","z":"1f75da86aca88164","name":"","group":"75ef11fc525da978","order":1,"width":"4","height":"1","passthru":false,"label":"{{msg.payload.raw}}","tooltip":"","color":"","bgcolor":"{{background}}","className":"","icon":"","payload":"\"LOOP\"","payloadType":"json","topic":"payload","topicType":"msg","x":730,"y":380,"wires":[["972bbf9220ea02b4"]]},{"id":"f271946685309901","type":"function","z":"1f75da86aca88164","name":"","func":"if(msg.payload.type.includes(\"ON\"))\n{\n    color = \"GREEN\";\n    isON = true;\n    object = JSON.stringify(\"LOOP:ON\")\n}\nelse\n{\n    color = \"GREY\";\n    isON = false;\n    object = JSON.stringify(\"LOOP:OFF\")\n}\n    \nmsg = {\n    payload:msg.payload,\n    background:color,\n    state:isON,\n    obj:object\n}\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":380,"wires":[["72dc3737b6fe4be4"]]},{"id":"8dbf2425b6a930ba","type":"status","z":"1f75da86aca88164","name":"","scope":["0372e647854ccf68"],"x":210,"y":100,"wires":[["d69c89966f565d02"]]},{"id":"d69c89966f565d02","type":"debug","z":"1f75da86aca88164","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"status.text","targetType":"jsonata","statusVal":"status.text","statusType":"auto","x":410,"y":100,"wires":[]},{"id":"5a2c927c.ba1edc","type":"ui_group","name":"Setpoint","tab":"42b914b0.66a0ac","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3c51ebe391d2af88","type":"mqtt-broker","name":"ST Lab Pi","broker":"172.16.100.68","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"75ef11fc525da978","type":"ui_group","name":"Status","tab":"42b914b0.66a0ac","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"42b914b0.66a0ac","type":"ui_tab","name":"Turbidostat","icon":"dashboard","order":1,"disabled":false,"hidden":false}]